* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Style Colors */
    /* Main */
    --primary: rgba(62, 207, 76, 1);
    --secondary: rgba(255, 189, 58, 1);
    --Tertiary: rgba(246, 73, 32, 1);

    /* Text (Dark) */
    --text-dark-primary: rgba(34, 35, 37, 1);
    --text-dark-secondary: rgba(51, 51, 51, 0.68);
    --text-dark-disabled: rgba(58, 53, 65, 0.38);

    /* Text (Light) */
    --text-light-primary: rgba(255, 255, 255, 1);
    --text-light-secondary: rgba(193, 194, 196, 1);
    --text-light-disabled: rgba(157, 158, 161, 1);

    /* Others */
    --primary-bg: rgba(255, 255, 255, 1);
    --base-bg: rgba(244, 245, 250, 1);
    --secondary-bg: rgba(249, 250, 252, 1);
    --border-color: rgba(58, 53, 65, 0.12);
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
}

body {
    font-family: "Lato", serif, Helvetica;
    background-color: rgba(255, 253, 243, 1);
}

/* Login & Register */

.header {
    box-shadow: 0 0 1px rgba(62, 67, 74, 0.31);
}

.navbar {
    background-color: var(--text-light-primary);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border: 1px 0 1px rgba(241, 241, 241, 1);
    box-shadow: 4px 8px 12px rgba(62, 67, 74, 0.15);
}

.navbar .fa-bars {
    text-decoration: none;
    color: var(--secondary);
}

.navbar-left .link {
    display: none;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.navbar-right {
    display: none;
}

.container {
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--primary-bg);
    border: 1px solid rgba(241, 241, 241, 1);
    border-radius: 4px;
}

.form-user header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.form-user header h1 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-dark-primary);
}

.form-user header p {
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .2px;
    color: var(--text-dark-secondary);
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input label {
    color: var(--text-dark-secondary);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    padding: 0 16px 4px 0;
    display: block;
}

.form-input input,
select {
    width: 100%;
    padding: 14px 10px;
    border-radius: 6px;
    border: 1px solid rgba(58, 53, 65, 0.12);
}

.form-input label span {
    color: rgba(211, 46, 31, 1);
}

.form-input a {
    text-align: end;
    font-family: "DM Sans", serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    color: var(--text-dark-secondary);
    text-decoration: none;
}


.input-telp {
    display: flex;
    gap: 10px;
}

.input-region {
    display: flex;
    align-items: center;
    width: 80%;
    border: 1px solid rgba(58, 53, 65, 0.12);
    border-radius: 6px;
}

.input-country {
    padding: 10px;
    background-color: rgba(244, 245, 250, 1);
}

.input-select-code-country {
    border-radius: 0px !important;
}

.btn-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn-input .btn {
    background-color: rgba(62, 207, 76, 1);
    padding: 7px 22px;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: .2px;
    font-weight: 700;
    font-family: "DM Sans", serif;
    color: var(--text-light-primary);
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-input .btn:nth-child(2) {
    background-color: rgba(226, 252, 217, 0.8);
    color: rgba(62, 207, 76, 1);
}

.btn-input .btn:nth-child(4) {
    display: flex;
    padding: 8px 26px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg);
    color: var(--text-dark-secondary);
    border: 1px solid rgba(241, 241, 241, 1);
}

.btn-input .btn:nth-child(4) img {
    width: 15px;
}

.btn-input .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-input .divider hr {
    width: 100%;
}

.btn-input p {
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .2px;
    text-align: center;
}

/* Homepage */
.hero,
.banner-cta {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -115px;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero {
    border-radius: 10px;
    background-image: url('../img/banner_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.banner-cta {
    border-radius: 4px;
    background-image: url('../img/banner_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.hero div,
.banner-cta div {
    display: flex;
    flex-direction: column;
    padding: 64px 34px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 12px 45px -10px rgba(0, 59, 222, 0.2);
}

.hero div {
    border-radius: 10px;
    gap: 24px;
}

.banner-cta div {
    border-radius: 4px;
    gap: 40px;
}

.hero .hero-title {
    font-family: "Poppins", serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--text-light-primary);
}

.hero .hero-text {
    font-family: "DM Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .2px;
    color: var(--text-light-primary);
}

.hero .btn-cta {
    padding: 10px 0px;
    font-family: "DM Sans", serif;
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: .2px;
    border-radius: 10px;
    background-color: rgba(62, 207, 76, 1);
    color: var(--text-light-primary);
    color: var(--text-light-primary);
}

.courses {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.courses header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.courses .title {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-dark-primary);
}

.courses .text {
    font-family: "DM Sans", serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .2px;
    color: var(--text-dark-secondary);
}

.menus {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.menu {
    width: max-content;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 36px 12px 0;
}

.menu .title {
    font-family: "DM Sans", serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    text-decoration: none;
}

.menu:nth-child(1) .title {
    color: rgba(246, 73, 32, 1);
}

.courses .slider {
    width: 100%;
    height: fit-content;
    overflow: auto;
}

.courses .slider::-webkit-scrollbar {
    width: 80px;
    height: 5px;
}

.courses .slider::-webkit-scrollbar-thumb {
    background-color: rgba(246, 73, 32, 1);
    border-radius: 10px;
}

.courses .slider::-webkit-scrollbar-track {
    background-color: rgba(244, 244, 244, .2);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: var(--primary-bg);
    border: 1px solid rgba(58, 53, 65, 0.12);
    border-radius: 10px;
}

.card .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.card .card-content img {
    width: 92px;
    height: 92px;
    border-radius: 10px;
    object-fit: cover;
}

.card .card-content .body-title {
    margin-right: 12px;
    width: 194px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", serif;
    line-height: 20px;
    color: var(--text-dark-primary);
    letter-spacing: .2px;
}

.card .card-content .body-description {
    display: none;
}

.card .card-content .body-mentor {
    display: flex;
    gap: 8px;
    align-items: center;
}

.card .card-content .body-mentor img {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    object-fit: cover;
}

.card .body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.card-content .body-mentor h3 {
    font-family: "DM Sans", serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .2px;
    color: var(--text-dark-primary);
}

.card-content .body-mentor p {
    font-family: "DM Sans", serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .2px;
    color: var(--text-dark-secondary);
}

.card .card-price {
    display: flex;
    justify-content: space-between;
}

.card .card-price .card-reviews {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars i {
    width: 18px;
    color: rgba(252, 233, 27, 1);
    border: none;
}

.stars i:nth-child(4),
.stars i:nth-child(5) {
    width: 18px;
    color: rgba(58, 53, 65, 0.12);
    border: none;
}

.card-price .review {
    font-family: "DM Sans", serif;
    font-size: 12px;
    letter-spacing: .2px;
    text-decoration: underline;
    color: rgba(51, 51, 51, 0.68);
}

.card-price .price {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(62, 207, 76, 1);
}

.banner-cta {
    text-align: center;
}

.banner-cta header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.banner-cta h2 {
    font-family: "DM Sans", serif;
    font-size: 16px;
    color: var(--text-light-secondary);
    letter-spacing: .2px;
}

.banner-cta h1 {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-light-primary);
}

.banner-cta p {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .2px;
    color: var(--base-bg);
}

.banner-cta .form-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-cta .input-email {
    text-align: center;
    border-radius: 10px;
    padding: 10px 8px 10px 12px;
    background-color: var(--primary-bg);
    font-family: "DM Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .2px;
    color: var(--text-dark-secondary);
}

.form-cta .btn-subs {
    background-color: rgba(255, 189, 58, 1);
    border-radius: 10px;
    font-family: "DM Sans", serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .2px;
    color: var(--text-light-primary);
    padding: 10px 26px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--primary-bg);
    padding: 20px;
    border-top: 1px solid rgba(58, 53, 65, 0.12);
}

footer header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer header .footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header .informasi {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header .link-to {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header .link-to-page a {
    display: none;
}


footer header .footer-left img {
    width: 161px;
    height: 25px;
}

footer .informasi p:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    font-family: "Open Sans", serif;
    line-height: 20px;
    color: var(--text-dark-primary);
}

footer .informasi p:nth-child(2),
footer .informasi p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    line-height: 20px;
    letter-spacing: .2px;
    color: var(--text-dark-primary);
}


footer .link-to div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 700;
}

footer .link-to div p {
    color: var(--text-dark-primary);
}

footer .link-to div i {
    color: rgba(58, 53, 65, 0.54);
}

footer hr {
    color: rgba(58, 53, 65, 0.12);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .media-socials {
    display: flex;
    gap: 15px;
    align-items: center;
}

.media-socials .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 35px;
    height: 35px;
    border: 1.5px solid var(--text-dark-secondary);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
}

.media-socials .icon i {
    color: var(--text-dark-primary);
}

.footer p {
    font-family: "DM Sans", serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .2px;
    color: var(--text-dark-secondary);
}



@media screen and (min-width: 1200px) {

    .header {
        box-shadow: 0 0 0 transparent;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 120px;
        border: 1px solid rgba(58, 53, 65, 0.12);
        box-shadow: 0 0 0 transparent;
        gap: 36px;
    }

    .navbar .navbar-left {
        display: flex;
        flex: 2;
        justify-content: space-between;
    }

    .navbar-left .link {
        display: inline-block;
        text-decoration: none;
        color: var(--text-dark-secondary);
        font-family: "DM Sans", serif;
        font-size: 16px;
        letter-spacing: .2px;
    }

    .navbar .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar .fa-bars {
        display: none;
    }

    .navbar-right .img {
        width: 44px;
        height: 44px;
        border-radius: 10px;
        background-size: cover;
        background-image: url("../img/icon/jess-icon.png");
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding: 64px 120px 64px 120px;
    }

    .form-user {
        width: 590px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        background-color: var(--primary-bg);
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 4px;
    }

    .hero h2,
    .hero p,
    .hero .btn-cta {
        width: 920px;
        margin: 0 auto;
    }

    .hero .hero-title {
        font-size: 48px;
        line-height: 54px;
    }

    .hero .hero-text {
        font-size: 16px;
    }

    .hero .btn-cta {
        width: 369px;
        font-size: 16px;
        padding: 10px 26px;
    }

    .menu.active {
        border-bottom: 6px solid rgba(246, 73, 32, 1);
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .cards .card .card-content {
        flex-direction: column;
        flex: 1;
        align-items: start;
    }

    .card .card-content img {
        width: 344px;
        height: 193px;
    }

    .card .body-content {
        width: 100%;
        justify-content: start;
    }

    .card .card-content .body-title {
        margin-right: 0px;
        width: 100%;
        font-size: 18px;
    }

    .card .card-content .body-description {
        display: inline-block;
        font-family: "DM Sans", serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .2px;
        color: var(--text-dark-secondary);
    }

    .card-content .body-mentor h3 {
        font-size: 16px;
    }

    .card-content .body-mentor p {
        font-size: 14px;
    }

    .card-price .price {
        font-size: 24px;
    }

    .banner-cta div {
        gap: 40px;
    }

    .banner-cta header {
        width: 525px;
        margin: 0 auto;
        gap: 4px;
    }

    .banner-cta .form-cta {
        width: 525px;
        margin: 0 auto;
    }

    .form-cta {
        position: relative;
    }

    .form-cta .input-email {
        text-align: start;
        padding: 16px 16px 16px 32px;
    }

    .form-cta .btn-subs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 132px;
        padding: 10px 26px;
        font-size: 16px;
        position: absolute;
        top: 6px;
        right: 8px;
        border: none;
    }

    footer {
        padding: 64px 120px 64px 120px;
        gap: 20px;
    }

    footer header .footer-left img {
        width: 193px;
        height: 30px;
        margin-top: 10px;
    }

    footer header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .footer-left {
        width: 352px;
    }

    header .link-to {
        display: flex;
        flex-direction: row;
        gap: 48px;
        align-items: start;
    }

    header .link-to-page {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    header .link-to-page p {
        align-self: flex-start;
        font-size: 16px;
        margin-bottom: 2px;
    }

    header .link-to-page a {
        display: inline;
        align-self: flex-start;
        font-family: "DM Sans", serif;
        font-size: 16px;
        letter-spacing: .2px;
        color: var(--text-dark-secondary);
        text-decoration: none;
    }

    footer .link-to div i {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer .media-socials {
        order: 2;
    }

    .footer p {
        order: 1;
    }
}